[Unit]
Description=Monthly Snowflake Raw Log

[Service]
Type=oneshot
WorkingDirectory=/home/ajay/lab/snowflake/phase_ii
ExecStart=/bin/bash /home/ajay/lab/snowflake/phase_ii/scripts/monthly/monthly_raw.sh