[Unit]
Description=Weekly Snowflake Summary Log

[Service]
Type=oneshot
WorkingDirectory=/home/ajay/lab/snowflake/phase_ii
ExecStart=/bin/bash /home/ajay/lab/snowflake/phase_ii/scripts/weekly/weekly_summary.sh